/*
	大屏主界面：列表模块样式
*/
			
			#mainframe {
				width: 100%;
				height: 100%;
				overflow: hidden;
				user-select: none;
			}
			.pageRoll {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: transparent;
			}
			.pageRoll-border{
				position: absolute;
				top:31px;
				width: calc(100% - 2px);
				height: calc((100% - 31px) / 4);
				border: 1px solid red;
				pointer-events:none;  /* 指定该元素可以被鼠标事件穿透*/
			}
			#leftPage {
				float:left;
				top:45%;
				left: 4%;
				width: 11px;
				height: 50px;
				background: url(../../images/images_list/pageLeft.png);

			}
			#rightPage {
				float: right;
				top:45%;
				right: 4%;
				width: 11px;
				height: 50px;
				background: url(../../images/images_list/pageRight.png);
			}
			
			#leftPage:hover{
				background: url(../../images/images_list/pageLeftL.png);
				animation: shine 1.5s infinite;
			}
			#rightPage:hover{
				background: url(../../images/images_list/pageRightL.png);
				animation: shine 1.5s infinite;
			}
			/*
			 *  定义动画样式
			 * 	从0 - 50 - 100   效果：  正常-放大-正常
			 */
			@keyframes shine{
			    0%,100%{
			        transform:scale(1);
			        -moz-transform:scale(1);
			        -o-transform:scale(1);
			        -webkit-transform:scale(1);
			        -ms-transform:scale(1);
			        opacity:0.3
			    }
			    50%{
			        transform:scale(1.5);
			        -moz-transform:scale(1.5);
			        -o-transform:scale(1.5);
			        -webkit-transform:scale(1.5);
			        -ms-transform:scale(1.5);
			        opacity:1
			    }
			}
			#mainframe ul{
				/* 去除列表默认的小圆点图标 */
				list-style: none;
			}
			/* 标签栏 */
			.list-lab {
				height: 15%;
				display: flex;
				justify-content: space-around;
				background-color: #09223b;
				font-size:13px;
			}
			/* 标签栏样式 */
			.list-lab li {
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: bold;
				width: 24%;
				/* 定义鼠标样式 */
				cursor: pointer;
				user-select: none;
				height: calc(100% - 2px);
			}
			
			/* 选中标签时的样式
				背景使用父元素背景；
				字体颜色与表格颜色一致； 
			*/
			.labSelect {
				color: #56ddff;
				/* 字体颜色与表格一致 */
				background: transparent;
				border-bottom: 2px solid #56ddff;
			}
			/* 未被选中的标签样式 
				背景使用图片；
				字体颜色为白色； 
			*/	
			.labNormal {
				color: white;
				/* 字体颜色为白色 */
				/*background: #56ddff;*/
			}
			/* 表格 */
			#table {
				position: relative;
				width: 100%;
				height: 85%;
				/* 字体颜色  */
				color: #eee;
				/* 字体大小  */
				font-size: 13px;
				/* 水平居中  */
				text-align: center;
				cursor: default;
			}
			#table ul{
				display: flex;
				justify-content: space-around;
				align-items: center;
				background-color: rgba(10, 43, 73, 1);;
			}
			
			/*
			 *   针对表头设置
			 */
			#header li{
				height: 31px;
				color:#56ddff;,
				font-weight: normal;
			}

			/*
			 *	设置第一列的宽度
			 */
			.first-li{
				width:60px;
			}
			/**
			 *   设置其他列的宽度
			 */
			.cell{
				width: calc((100% - 60px) / 4);
				text-overflow:ellipsis;
				white-space: nowrap;
			}
			/**
			 * 表内容的高度;暂定为4行
			 */
			#body{
				height: calc(100% - 31px);
				overflow: hidden;
			}
			#container{
				height: 100%;
			}
			#body ul{
				height: calc(100% / 4);
			}
			
			/**
			 *  表格间隔取色
			 */
			#mainframe .interval{
				background-color: #09223b;
			}
			
			/*
			 * 针对表格内容设置
			 */
			#mainframe tbody td {
				/* 设置单元格的边框 ： 只有上边距显示*/
				overflow:hidden;
				/* clip 修剪 | ellipsis 省略号 | string 自定义文本 */
				text-overflow:ellipsis;
				/* 兼容性代码*/
				-moz-text-overflow: ellipsis;
				/* 不换行 */
				white-space: nowrap;
			}
			#mainframe tbody tr td:hover{
				color: white;
			}
			/* 标签悬浮时，字体样式改变 */
			#mainframe .item:hover{
				border-bottom: 2px solid #56ddff;
				color:#56ddff;
			}