			/* 主屏标题 */
			
			#map-title {
				width: 100%;
				height: 56px;
				text-align: center;
				background: url(../../images/screen/map-title.png) no-repeat;
				background-size: 99.5% 100%;
			}
			/* 地图内容区 */
			
			#map-main {
				width: 100%;
				height: calc(100% - 56px);
			}
			/* 地图图层菜单  */
			
			#map-menu {
				position: absolute;
				bottom: 20px;
				left: 20px;
				width: 48px;
				height: 48px;
				z-index: 99;
				cursor: pointer;
			}
			/* 图层菜单栏标识  */
			
			.menu-base {
				position: absolute;
				width: 42px;
				height: 42px;
				background-color: rgba(80, 191, 237, .4);
				border-radius: 30px;
				box-shadow: 0 0 4px #09223b;
				visibility: visible;
				transition: visibility .3s, box-shadow .1s;
			}
			/*图层图片定位，位置与图片大小相关。42/2 - 26/2*/
			
			.menu-base img {
				position: absolute;
				left: 8px;
				top: 8px;
				height: 26px;
				width: 26px;
			}
			
			.menu-item {
				position: absolute;
				width: 42px;
				height: 42px;
				left: 0;
				border-radius: 21px;
				background-color: rgba(80, 191, 237, .4);
				color: white;
				visibility: hidden;
				transition: left .5s, visibility .3s;
			}
			
			.menu-item img {
				opacity: .4;
			}
			/*增加图层提示文字*/
			
			.menu-item span {
				position: absolute;
				left: 0px;
				top: -40px;
				width: 252px;
				height: 40px;
				text-align: center;
				line-height: 40px;
				border-radius: 21px;
				font-size: 28px;
				font-weight: normal;
				font-family:"仿宋";
				color: gray;
				visibility: hidden;
				
			}
			
			.menu-item:hover img {
				opacity: 1;
			}
			
			.menu-item:hover {
				background-color: rgba(80, 191, 237, 1);
			}
			
			.menu-item:hover span {
				visibility: visible;
			}
			
			#map-menu:hover .menu-item {
				visibility: visible;
			}
			
			#map-menu:hover .menu-base {
				visibility: hidden;
				box-shadow: none;
			}
			
			#map-menu:hover #IconId1 {
				z-index: 6;
				left: 0px;
			}
			
			#map-menu:hover #IconId2 {
				z-index: 5;
				left: 42px;
			}
			
			#map-menu:hover #IconId3 {
				z-index: 4;
				left: 84px;
			}
			
			#map-menu:hover #IconId4 {
				z-index: 3;
				left: 126px;
			}
			
			#map-menu:hover #IconId5 {
				z-index: 2;
				left: 168px;
			}
			
			#map-menu:hover #IconId6 {
				z-index: 1;
				left: 210px;
			}
			
			#IconId1 span {
				left: 0px;
			}
			
			#IconId2 span {
				left: -42px;
			}
			
			#IconId3 span {
				left: -84px;
			}
			
			#IconId4 span {
				left: -126px;
			}
			
			#IconId5 span {
				left: -168px;
			}
			
			#IconId6 span {
				left: -210px;
			}
			/* 地图显示区 */
			
			#dcmap {
				z-index: 1;
				width: 100%;
				height: 100%;
			}
			/* 淡入淡出的提示框 */
			#map-tooltip{
				z-index:2;
				position: absolute;
				left: 50%;
				top: 20%;
				color: #fff;
				text-align: center;
			    transform: translateX(-55%);
			    padding: 16px 24px;
			    border-radius: 10px;
			    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.33);
			    line-height: 24px;
			    font-size: 16px;
				background-color: rgba(63, 63, 63, 0.85);				
				transition: visibility .8s,opacity .8s;
			}
