			/* 主屏标题 */
			
			#map-title {
				width: 100%;
				height: 56px;
				text-align: center;
				background: url(../../images/screen/map-title.png) no-repeat;
				background-size: 99.5% 100%;
			}
			/* 地图内容区 */
			
			#map-main {
				width: 100%;
				height: calc(100% - 56px);
			}
			/* 地图图层菜单  */
			#map-base{
				position: absolute;
				bottom: 0px;
				left: 30%;
				width: 40%;
				height: 16px;
				background-color:rgba(5, 5, 5, 0.5);
				z-index: 9;
				border-radius: 10px 10px 0px 0px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: visibility .5s,opacity .5s;
			}
			.component-show{
				visibility: visible;
				opacity: 1;
			}
			.component-off{
				opacity: 0;
				visibility: hidden;
			}
			#map-base span{
				margin-top: 2px;
				height: 2px;
				width: 150px;
				background-color: #eee;
			}
			#map-base:hover{
				background-color:rgba(0, 5, 5, 0.5);
			}
			#map-menu {
				position: absolute;
				padding: 2px 0px 1px 0px;
				bottom: 0px;
				left: 30%;
				width: 40%;
				border-radius: 10px 10px 0px 0px;
				text-align: center;
				height: 42px;
				z-index: 8;
				cursor: pointer;
				background-color: rgba(0, 5, 5, 0.5);
				transition: visibility .5s,opacity .5s;
			}
			
			#map-menu li{
				position: relative;
				display: inline-block;
				list-style: none;
			}
				
			.menu-item img{
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background-color: rgba(80, 191, 237, 1);
				color: white;
				transition: all .2s;
				-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, .5)));
			}
			.menu-item:hover img{
				-webkit-box-reflect:below 1px linear-gradient(transparent,transparent 50%,rgba(0,0,0,0));
				transform: scale(1.5);
				margin: 0 15px;
			}
			#map-menu li:hover +li img,
			#map-menu li.prev img{
				-webkit-box-reflect:below 1px linear-gradient(transparent,transparent 50%,rgba(0,0,0,0));
				transform: scale(1.3);
				margin: 0 10px;
			}
			/*增加图层提示文字*/
			.menu-item span {
				display: none;
				position: absolute;
				padding: 5px 0px;
				bottom: 50px;
				width: 100%;
				text-align: center;
				border-radius: 21px;
				font-size: 14px;
				font-weight: normal;
				color: #000000;
				background-color: #222;
				transition: all .4s cubic-bezier(0.1,0.1,0.1,0.1);
			}
			.menu-item:hover span {
				display: block;
				color: #fff;
			}
			

			/* 地图显示区 */
			
			#dcmap {
				z-index: 1;
				width: 100%;
				height: 100%;
			}
			/* 淡入淡出的提示框 */
			#map-tooltip{
				z-index:2;
				position: absolute;
				left: 50%;
				top: 20%;
				color: #fff;
				text-align: center;
			    transform: translateX(-55%);
			    padding: 16px 24px;
			    border-radius: 10px;
			    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.33);
			    line-height: 24px;
			    font-size: 16px;
				background-color: rgba(63, 63, 63, 0.85);				
				transition: visibility .8s,opacity .8s;
			}
